* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.checked {
    color: rgb(215, 215, 58);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    height: 100%;
}

.active {
    background-color: #00B4CC;
    border-radius: 4px;
}

.container {
    width: 70%;
    margin: auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.login-pane a {
    padding-right: 10px;
    padding-left: 35px;
    display: inline-block;
}

.register-pane .footer-login {
    text-align: center;
}

.hidden-action {
    display: none;
}

.register-pane label {
    display: inline-block;
}

.register-pane .error-input {
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: inline-block;
}

.register-pane {
    display: block;
    margin: 150px auto;
    width: 40%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #00B4CC;
    text-align: center;
}

.username-field,
.password-field {

    padding: 10px;
}

.username-field label,
.password-field label {
    display: block;
    text-align: left;
    font-size: 25px;
    left: -10px;
}

.username-field input,
.password-field input {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.footer-login {
    padding-top: 18px;
    width: 100%;
    text-align: right;
}

.submit-login {
    color: white;
    background-color: #000100;
    border-radius: 10px;
    padding: 8px 14px;
    border: none;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.submit-login:hover {
    background-color: #868686;
}

.login-pane a {
    padding-right: 10px;
    padding-left: 35px;
    display: inline-block;
}

.hidden-action {
    display: none !important;
}

/* Modal*/
.modal-register {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 0px;
}

.modal-register-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    /* height: 20%; */
    border-radius: 10px;
    background-color: #00B4CC;
    text-align: center;
    padding: 20px 30px;
}

.modal-register-content .register-success {
    font-size: 25px;
    padding: 20px 0px;
}

.modal-register-content .register-login {
    background-color: white;
    border: none;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.modal-register-content .register-login:hover {
    background-color: rgb(123, 123, 123);
}

.register-login a {
    text-decoration: none;
    color: black;
}