<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/aboutPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Book Store</title>
</head>
<body>
    
    <%- include('partials/header.ejs')%>

    <div class="container">
        <div class="about-us">
            <div class="title-about">About us</div>
            <p class="description-about">Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Veritatis qui aperiam ab quo eaque nihil magni ducimus. 
                Veniam perferendis quisquam quaerat, eum accusantium repellat, voluptas, magni l
                audantium hic quis quo.</p>
            <a href="https://github.com/Kome-to">Learn More</a>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
<script type="module" src="/scripts/about.js"></script>
</html>