<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo-page">
            <a href="/">
                <img src="/images/logo.webp" alt="logo" width="50px" style="border-radius: 10px;">
            <div class="name-page" style="font-weight: 500;">Book Store</div>
            </a>
        </div>
        <div class="nav-bar">
            <ul class="nav-menu">
                <li ><a href="/" class="">Home</a></li>
                <li class="active"><a href="/books" class="">Books</a></li>
                <li><a href="/about" class="">About</a></li>
            </ul>
        </div>
        <div class="sub-nav">
                <div class="login-text"><a href="/login">Log in</a></div>
                <div class="login">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="cart">
                    <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <span class="count-book-cart">0</span>
                </div>
        </div>
    </div>

    <div class="register-pane">
        <h1>Register</h1>
        <div class="username-field">
            <label for="">User name</label><br>
            <input type="text" name="" id="" >
        </div>
        <div class="username-field">
            <label for="">Full Name</label><br>
            <input type="text" name="" id="" >
        </div>
        <div class="username-field">
            <label for="">Address</label><br>
            <input type="text" name="" id="" >
        </div>
        <div class="username-field">
            <label for="">Email</label><br>
            <input type="text" name="" id="" >
        </div>
        <div class="password-field">
            <label for="">Password</label><br>
            <input type="password">
        </div>
        <div class="footer-login">
            <button type="submit" class="submit-login">Submit</button>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
</html>