<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/partials/footer.css">
    <title>Document</title>
</head>
<body>

    <div class="modal-add-product-to-cart hidden-action">
        <div class="modal-content">
            <img src="" alt="">
            <div class="description-product">
                <span class="title"></span>
                <p>Is now in your cart</p>
                <br>
                <div class="price"></div>
                <div class="amount"></div>
                <a href="/user/cart"><button class="go-to-cart">Go To Cart</button></a>
                <button class="keep-shopping">Keep Shopping</button>
            </div>
        </div>

    </div>
    <div class="footer">
                
    </div>
<script type="module" src="/scripts/partials/footer.js"></script>
</body>
</html>